// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
html,
body {
    height: 100%;
    background-color: #fff;
}

.menu {
    display: flex;
}

.yellow {
    background-color: #C2810D;
    font-weight: bold;
}

.menu li {
    list-style: none;
    background-color: #F2F2F2;
    position: relative;
    white-space: nowrap;
}

.menu a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 0 10px;
    transition: all .2s;
}

.menu .gray:hover {
    background-color: #333333;
    color: #fff;
    font-weight: bold;
}

.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
    z-index: 10;
}

.menu>ul>li>a {
    text-align: center;
}

.menu li:hover ul {
    display: block;
}

.main-logo {
    width: 120px;
    // height: 122px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

header,
.footer,
.accordion-header button {
    background-color: #333333;
}

input {
    background: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #FDB812;
    box-shadow: #FED520;
}

.header-nav,
.accordion-body,
.feedback-card {
    background-color: #F2F2F2;
}

.auth-link {
    text-decoration: none;
    text-decoration-line: none;
    color: #FED527;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.auth-link:hover {
    color: #000;
    background-color: #F2F2F2;
    cursor: pointer;
}

.modal-body .form-controll {
    height: 50px;
}

.form-button {
    background-color: #FDB812;
    border: none;
    border-radius: 5px;
    text-align: center;
    height: 50px;
    width: 100%;
}

.color-yellow {
    color: #FDB812;
}

.form-button:hover {
    background-color: #FED520;
}

.personal-img {
    border: 5px solid #FED520;
}

.held-post,
.feedback-fio {
    color: #FED520;
}

.feedback-card {
    border-radius: 5px;
}

.modal-body,
.accordion-body {
    margin: 0 auto;
}

h1 {
    color: #C2810D;
    margin: 0 auto;
}

.profile-logo {
    height: 110px;
    width: 110px;
}

.thumb img {
    -webkit-filter: grayscale(0);
    filter: none;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}

.thumb img:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb {
    padding: 5px;
}

.partner-img {
    width: 234px;
    height: 234px;
    margin: 0 auto;
    object-fit: contain;
}

.feedback-img {
    height: 50px;
    width: 50px;
}

.u-social-icons-1 {
    white-space: nowrap;
    height: 28px;
    min-height: 16px;
    width: 104px;
    min-width: 68px;
    margin: 4px 33px 21px auto;
}

.u-social-icons {
    display: flex;
}

.star-rating {
    font-size: 0;
}

.star-rating__wrap {
    display: inline-block;
    font-size: 1rem;
}

.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}

.star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #FFB300;
}

.star-rating__ico:last-child {
    padding-left: 0;
}

.star-rating__input {
    display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover~.star-rating__ico:before,
.star-rating__input:checked~.star-rating__ico:before {
    content: "\f005";
}

.obj_card img,
.carousel-inner>.item>img {
    height: 280px;
    width: 100%;
}